/* Portrait Styles */

/* Small tablets */
@media screen and (min-width:768px) and (max-width:1024px) and (orientation: portrait) {
    /* Navigation styling */

    .hamburger-menu header p {
        font-size: 3.6em !important;
    }

    #close-menu {
        font-size: 5em;
    }

    .hamburger-menu li {
        font-size: 2.7em !important;
    }

    /* Footer styling  */
    footer {
        height: 20vh;
    }

    .footer-row-container {
        width: 90vw;
    }

    .footer-row-links {
        font-size: 1.5vh;
    }

    .footer-social-media {
        width: 25vw;
    }

    .footer-social-media-icons {
        font-size: 2.5vh;
    }

    .footer-row-text {
    width: 60vw;
    }

    /* course */

    .all-courses-page .general-container {
    padding: 0em;
    min-height: 35vh;
    }

    .all-courses-page .general-container h2 {
    padding: 4vw;
    }

    .course-container {
        width: 18vw;
    }

    .progress-bar {
        height: 1vh;
    }

    .course-info h3 {
    font-size: 1.4em;
    font-weight: 500;
    }

    /* rights/principles learning */

    .learning-titles-container{
        height: 15vh;
    }

    .learning-content {
        height: 60vh;
        flex-direction: column-reverse;
    }

    .learning-buttons button{
        font-size: 2.5rem;
    }

    .learning-content h3 {
        font-size: 2.5vh;
    }

    .learning-image img {
        width: 20vw;
        margin-bottom: 5vh;
    }

    .learning-titles-container h1 {
        font-size: 4em;
        padding: 1rem 4rem;
    }

    .learning-titles-container h2 {
        font-size: 3vh;
        padding: 0rem 4rem;
    }

    /* questions */

    .questions-container h3 {
    text-align: center;
    font-size: 2vh;
    margin-top: 3vh;
    width: 80vw;
    }

    .questions-content {
    width: 90vw;
    }

    .questions-content img {
    display: none;
    }

    input {
    width: 50px;
    height: 50px;
    }

    .question-row label {
    padding-left: 3vw;
    font-size: 2vh;
    }

    .questions-title {
    height: 6vh;
    }

    .questions-title h1 {
    font-size: 4vh;
    }
}

/* Large tablets  */
@media screen and (min-width:1024px) and (max-width:1366px) and (orientation: portrait) {
    /* Navigation */

    /* Hide the links displayed on desktop */
    .link-container {
        display: none;
    }

    /* Hamburger menu button */
    #open-menu {
        font-size: 5em;
        display: inline-block;
        position: absolute;
        left: 5%;
        color: var(--main-blue);
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        background: #F5F5F5;
        height: 100vh;
        width: 100vw;
        /* Hide the menu by default */
        transform: translateX(-100%);
        transition: all .8s ease-in-out;
    }


    .hamburger-menu>* {
        opacity: 1;
        transition: all .8s ease-in-out;

    }

    /* Blue section with the username */
    .hamburger-menu header {
        width: 100%;
        height: 20%;
        background: var(--main-blue);
        display: flex;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
        align-items: center;
        justify-content: space-between;
        padding: 0 3em;
    }

    .hamburger-menu header p {
        color: #ffffff;
        font-size: 3em;
    }

    .hamburger-menu header i {

        margin-right: 0vw;
        color: #ffffff;
        font-size: 3em;
    }

    .hamburger-menu ul {
        margin-top: 3vh;
        padding: 0 1.5em;
    }

    .hamburger-menu li {
        list-style-type: none;
        font-size: 3em !;
        color: var(--heading-col);
        position: relative;
        display: flex;
        flex-direction: row;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
        background: #ffffff;
        border-radius: 5em;
        padding: .5em .8em;
        margin: 5vh 0;
    }

    .hamburger-menu li i {
        font-size: 1.4em;
        display: inline-block;
    }

    .icon-container {
        width: 18vw;
    }

    /* Center the logo in the center */
    nav {
        position: relative;
        justify-content: center;
    }

    nav img {
        padding-left: 0;
    }

    /* footer */

    footer {
        height: 20vh;
    }

     .footer-row-text {
        width: 60vw;
    }

    .footer-row-container {
        width: 90vw;
    }

    .footer-row-links {
        font-size: 1.5vh;
    }

    .footer-social-media {
        width: 25vw;
    }

    .footer-social-media-icons {
    font-size: 3.5vh;
    }

    /* course */

    .all-courses-page .general-container {
    padding: 0em;
    min-height: 25vh;
    }

    .all-courses-page .general-container h2 {
    padding: 4vw;
    }

    .course-container {
        width: 18vw;
    }

    .progress-bar {
        height: 1vh;
    }


    /* rights/principles learning */

    .learning-titles-container{
        height: 15vh;
    }

    .learning-content {
        height: 60vh;
        flex-direction: column-reverse;
    }

    .learning-buttons button{
        font-size: 3rem;
    }

    .learning-content h3 {
    font-size: 2.5vh;
    }

    .learning-image img {
    width: 20vw;
    margin-bottom: 5vh;
    }

    .learning-titles-container h1 {
        font-size: 6em;
        padding: 2rem 6rem;
    }

    .learning-titles-container h2 {
        font-size: 3vh;
        padding: 0rem 6rem;
    }

    /* questions */

    .questions-container h3 {
    text-align: center;
    font-size: 2vh;
    margin-top: 3vh;
    width: 80vw;
    }

    .questions-content {
    width: 90vw;
    }

    .questions-content img {
    display: none;
    }

    input {
    width: 50px;
    height: 50px;
    }

    .question-row label {
    padding-left: 3vw;
    font-size: 2vh;
    }

    .questions-title {
    height: 8vh;
    }

    .questions-title h1 {
    font-size: 5vh;
    }

}

/* Landscape styles */

/* Small tablets  */
@media screen and (min-width:1024px) and (max-width:1366px) and (orientation: landscape) {

    
    /* Navigation styling */

    .hamburger-menu header p {
        font-size: 3.6em !important;
    }

    #close-menu {
        font-size: 5em;
    }

    .hamburger-menu li {
        font-size: 2.7em !important;
    }


     /* Course */

    .course-container img {
    border-radius: 1.5em 1.5em 0em 0em;
    }

    .course-info h3 {
    font-size: 1.2em;
    font-weight: 500;
    }

    .course-info p {
    font-size: .6em;
    }

    .course-info {
    border-radius: 0em 0em 1.5em 1.5em;
    }


    /* rights/principles learning */

    .learning-titles-container h1 {
        font-size: 3em;
        padding: 0.7rem 3rem;
    }

    .learning-titles-container h2 {
        font-size: 4vh;
    }

    .learning-titles-container{
        height: 20vh;
    }

    .learning-buttons button{
        font-size: 1.5rem;
    }
}

/* Large tablets  */

@media screen and (min-width:1366px) and (max-width:1440px) and (orientation: landscape) {}