/* Small tablets - portrait */
@media screen and (min-width:768px) and (max-width:1024px) and (orientation: portrait) {

    /* Login Styles */


    .login-img-container {
        display: none;
    }

    .login-form-container,
    .signup-form-container {
        width: 100%;
        transform: translateX(0);

    }


    /* Remove delay from fade in */
    .login-form-container>*,
    .signup-form-container>* {

        animation: fadeIn forwards 1.5s;
    }


    .login-form-container img {
        width: 50%;
    }


    /*  Forgotton password and sign up links */

    .form-links a,
    .form-links p {
        font-size: 1.5em;
    }

    .login-form-container form input,
    .signup-form-container form input,
    .signup-form-container form select {
        width: 50vw;
        font-size: 1.8em;
    }

    .login-form-container button,
    .signup-form-container button {
        font-size: 2em;
    }

    /* Sign Up Styles */

    .signup-form-container img {
        width: 45%;
    }

    .signup-title h1 {
        font-size: 3.5em;

}

/* Small tablets - landscape */
@media screen and (min-width:1024px) and (max-width:1366px) and (orientation: landscape) {

    /* Login Styles */

    .login-form-container img,
    .signup-form-container img {
        width: 50%;
    }

    .login-img-container img {
        position: absolute;
        width: auto;
        height: 100%;
        transform: translateY(0%);
    }


    .login-form-container form input,
    .signup-form-container form input,
    .signup-form-container form select {
        font-size: 1.5em;
        width: 30vw;
    }

    .form-links a,
    .form-links p {
        font-size: 1em;
    }

    /* Sign Up Styles */

    .signup-title h1 {
        font-size: 2em;
    }

    .signup-form-container form {
        margin-top: 3vh;
    }

    .signup-form-container img {
        width: 35%;
        margin-bottom: 0vh;
    }

    .signup-form-container button {
        font-size: 1.6em;
    }
}

/* Large tablets - portrait */
@media screen and (min-width:1024px) and (max-width:1366px) and (orientation: portrait) {
    /*  Login page stylings */


    .login-form-container,
    .signup-form-container {

        width: 100%;
        transform: translateX(0);
    }


    /* Remove delay from fade in */

    .login-form-container>*,
    .signup-form-container>* {
        animation: fadeIn forwards 1.5s;
    }



    .login-form-container img,
    .signup-form-container img {
        width: 50%;
    }

    /*  Forgotton password and sign up links */

    .form-links a,
    .form-links p {
        font-size: 1.8em;
    }

    .login-form-container form input,
    .signup-form-container form input,
    .signup-form-container form select {
        width: 50vw;
        font-size: 2.5em;
    }


    .login-form-container button,
    .signup-form-container button {
        font-size: 3em;
    }
}

/* Large tablets - landscape */

@media screen and (min-width:1366px) and (max-width:1440px) and (orientation: landscape) {

    /*  Login page stylings */

    .login-form-container img {
        width: 60%;
    }


    .login-img-container img {
        position: absolute;
        width: auto;
        height: 100%;
        transform: translateY(0%);
    }

    .login-form-container form input,
    .signup-form-container form input,
    .signup-form-container form select {

        width: 30vw;
        font-size: 2em;
    }


    .form-links a,
    .form-links p {
        font-size: 1.4em;
    }

    .login-form-container button,
    .signup-form-container button {
        font-size: 2.2em;
    }

    /* Sign Up Styles */
    .signup-form-container img {
        width: 40%;
    }

    .signup-title h1 {
        font-size: 3em;
    }


}