/* Large tablets - portrait */
@media screen and (min-width:1024px) and (max-width:1366px) and (orientation: portrait) {

/* 404 */
.container-404 {
    width:80vw;
}

.image-404 img {
    height: 25vh;
    width: 60vw;
}

.header-404 {
    padding-top:2vh;
    font-size: 5vh;
}

.button-container-404 {
    width: 30vw;
    height: 8vh;
    font-size: 2.5vh;
}

.button-404 {
    width: 30vw;
    height: 8vh;
    font-size: 3vh;
    border-radius: 60px;
}

/* construction */

.construction-container {
    width:80vw;
}

.construction-image img {
    height: 25vh;
    width: 60vw;
}

.construction-header {
    padding-top:2vh;
    font-size: 5vh;
}

.construction-button-container {
    width: 30vw;
    height: 8vh;
    font-size: 2.5vh;
}

.construction-button {
    width: 30vw;
    height: 8vh;
    font-size: 3vh;
    border-radius: 60px;
}
}


/* Small tablets - portrait */
@media screen and (min-width:768px) and (max-width:1024px) and (orientation: portrait) {

/* 404 */

.container-404 {
    width:80vw;
}

.image-404 img {
    height: 25vh;
    width: 60vw;
}

.header-404 {
    padding-top:2vh;
    font-size: 5vh;
}

.button-container-404 {
    width: 30vw;
    height: 8vh;
    font-size: 2.5vh;
}

.button-404 {
    width: 30vw;
    height: 8vh;
    font-size: 3vh;
}

.button-404:active{
   width: 30vw;
   height: 8vh;
}

/* construction */

.construction-container {
    width:80vw;
}

.construction-image img {
    height: 25vh;
    width: 60vw;
}

.construction-header {
    padding-top:2vh;
    font-size: 5vh;
}

.construction-button-container {
    width: 30vw;
    height: 8vh;
    font-size: 2.5vh;
}

.construction-button {
    width: 30vw;
    height: 8vh;
    font-size: 3vh;
}

.construction-button:active{
   width: 30vw;
   height: 8vh;
}
}

/* Large tablets - landscape */

@media screen and (min-width:1366px) and (max-width:1440px) and (orientation: landscape) {

/* 404 */

.button-container-404 {
    width: 17vw;
}

.button-404 {
    width: 17vw;
}



/* construction */

.construction-button-container {
    width: 17vw;
}

.construction-button {
    width: 17vw;
}
}

/* Small tablets - landscape */
@media screen and (min-width:1024px) and (max-width:1366px) and (orientation: landscape) {

/* 404 */

.button-container-404 {
    width: 17vw;
}

.button-404 {
    width: 17vw;
    font-size: 2.5vh;
}



/* construction */

.construction-button-container {
    width: 17vw;
}

.construction-button {
    width: 17vw;
    font-size: 2.5vh;
}
}