/* Portrait Styles */

/* Small tablets */
@media screen and (min-width:768px) and (max-width:1024px) and (orientation: portrait) {

    /* Login Styles */


    .login-img-container {
        display: none;
    }

    .user-form-container {
        width: 100%;
        transform: translateX(0);

    }


    /* Remove delay from fade in */
    .user-form-container>* {

        animation: fadeIn forwards 1.5s;
    }


    .user-form-container img {
        width: 50%;
    }


    /*  Forgotton password and sign up links */

    .form-links a,
    .form-links p {
        font-size: 1.5em;
    }

    .user-form-container form input,
    .user-form-container form select {
        width: 50vw;
        font-size: 1.8em;
    }

    .user-form-container button {
        font-size: 2em;
    }

    /* Sign Up Styles */

    .signup img {
        width: 45%;
    }

    .signup-title h1 {
        font-size: 3.5em;

    }
}

/* Large tablets  */
@media screen and (min-width:1024px) and (max-width:1366px) and (orientation: portrait) {
    /*  Login page stylings */


    .user-form-container {
        width: 100%;
        transform: translateX(0);
    }


    /* Remove delay from fade in */

    .user-form-container>* {
        animation: fadeIn forwards 1.5s;
    }

    .user-form-container img {
        width: 50%;
    }

    /*  Forgotton password and sign up links */

    .form-links a,
    .form-links p {
        font-size: 1.8em;
    }

    .user-form-container form input,
    .user-form-container form select {
        width: 50vw;
        font-size: 2.5em;
    }


    .user-form-container button {
        font-size: 3em;
    }
}

/* Landscape styles */

/* Small tablets - landscape */
@media screen and (min-width:1024px) and (max-width:1366px) and (orientation: landscape) {

    /* Login Styles */

    .user-form-container img {
        width: 50%;
    }


    .login-img-container img {
        transform: translateY(0);
        height: 100%;
        width: 110%;
    }


    .user-form-container form input,
    .user-form-container form select {
        font-size: 1.5em;
        width: 35vw;

    }

    .form-links a,
    .form-links p {
        font-size: 1em;
    }

    /* Sign Up Styles */

    .signup-title h1 {
        font-size: 2em;
    }

    .signup form {
        margin-top: 3vh;
    }

    .signup img {
        width: 35%;
        margin-bottom: 0vh;
    }

    .signup button {
        font-size: 1.6em;
    }
}

/* Large tablets - landscape */

@media screen and (min-width:1366px) and (max-width:1440px) and (orientation: landscape) {

    /*  Login page stylings */

    .user-form-container img {
        width: 60%;
    }


    .login-img-container img {
        position: absolute;
        width: auto;
        height: 100%;

    }

    .user-form-container form input,
    .user-form-container form select {
        font-size: 2em;
    }


    .form-links a,
    .form-links p {
        font-size: 1.4em;
    }

    .user-form-container button {
        font-size: 2.2em;
    }

    /* Sign Up Styles */
    .signup img {
        width: 40%;
    }

    .signup-title h1 {
        font-size: 3em;
    }


}