
/* Small Phones - portrait*/

@media screen and (min-width: 320px) and (max-width:375px) and (orientation: portrait) {


/* 404 */
.container-404 {
    width: 95vw;
}

.image-404 img {
    width: 70vw;
    height: 25vh;
}

.header-404 {
    font-size: 3vh;
    padding-top: 0vh;
}

.text-404 {
    font-size: 2.5vh;
}

.button-container-404 {
    width: 50vw;
}

.button-404 {
    width: 50vw;
    border-radius: 55px;
}

.button-404:active{
width: 50vw;
height: 7.5vh;
}


/* construction */

/* 404 */
.construction-container {
    width: 95vw;
}

.construction-image img {
    width: 70vw;
    height: 25vh;
}

.construction-header {
    font-size: 3vh;
    padding-top: 0vh;
}

.construction-text {
    font-size: 2.5vh;
}

.construction-button-container {
    width: 50vw;
}

.construction-button {
    width: 50vw;
    border-radius: 55px;
}

.construction-button:active{
width: 50vw;
height: 7.5vh;
}
}

/* Medium Phones - portrait*/

@media screen and (min-width: 375px) and (max-width:414px) and (orientation: portrait) {


/* 404 */

.container-404 {
    width: 95vw;
}

.image-404 img {
    width: 70vw;
    height: 25vh;
}

.header-404 {
    font-size: 3vh;
    padding-top: 0vh;
}

.text-404 {
    font-size: 2.5vh;
}

.button-container-404 {
    width: 50vw;
}

.button-404 {
    width: 50vw;
    border-radius: 55px;
}

.button-404:active{
width: 50vw;
height: 7.5vh;
}



/* construction */

.construction-container {
    width: 95vw;
}

.construction-image img {
    width: 70vw;
    height: 25vh;
}

.construction-header {
    font-size: 3vh;
    padding-top: 0vh;
}

.construction-text {
    font-size: 2.5vh;
}

.construction-button-container {
    width: 50vw;
}

.construction-button {
    width: 50vw;
    border-radius: 55px;
}

.construction-button:active{
width: 50vw;
height: 7.5vh;
}
}



/* Large Phones - portrait*/

@media screen and (min-width: 414px) and (max-width:768px) and (orientation: portrait) {

/* 404 */

.container-404 {
    width: 95vw;
}

.image-404 img {
    width: 70vw;
    height: 25vh;
}

.header-404 {
    font-size: 4vh;
    padding-top: 0vh;
}

.text-404 {
    font-size: 2.5vh;
}

.button-container-404 {
    width: 60vw;
}

.button-404 {
    width: 60vw;
    border-radius: 55px;
}


/* construction */

.construction-container {
    width: 95vw;
}

.construction-image img {
    width: 70vw;
    height: 25vh;
}

.construction-header {
    font-size: 4vh;
    padding-top: 0vh;
}

.construction-text {
    font-size: 2.5vh;
}

.construction-button-container {
    width: 60vw;
}

.construction-button {
    width: 60vw;
    border-radius: 55px;
}


}



/* Small Phones -Landscape Phones*/
@media screen and (min-width: 568px) and (max-width:667px) and (orientation: landscape) {

/* 404 */

.container-404 {
    width: 80vw;
}

.button-404 {
    width: 20vw;
    border-radius: 55px;
}

.button-404:active {
    width: 20vw;
}


/* construction */

.construction-container {
    width: 80vw;
}

.construction-button {
    width: 20vw;
    border-radius: 55px;
}

.construction-button:active {
    width: 20vw;
}

/* welcome */

.welcome-dot {
    height: 10px;
    width: 10px;
}

.welcome-dot-selected {
    height: 12px;
    width: 12px;
}
}

/* Medium Phones */
@media screen and (min-width: 667px) and (max-width:736px) and (orientation: landscape) {

/* 404 */

.container-404 {
    width: 80vw;
}

.button-404 {
    width: 20vw;
    border-radius: 55px;
}

.button-404:active {
    width: 20vw;
}


/* construction */

.construction-container {
    width: 80vw;
}

.construction-button {
    width: 20vw;
    border-radius: 55px;
}

.construction-button:active {
    width: 20vw;
}


/* welcome */

.welcome-buttons-text {
    width: 8vw;
}
}

/* Large Phones */
@media screen and (min-width: 736px) and (max-width:812px) and (orientation: landscape) {

/* 404 */

.button-container-404 {
    width: 60vw;
}

.button-404 {
    width: 20vw;
    border-radius: 55px;
}

.button-404:active {
    width: 20vw;
}


/* construction */

.construction-button-container {
    width: 60vw;
}

.construction-button {
    width: 20vw;
    border-radius: 55px;
}

.construction-button:active {
    width: 20vw;
}

/* welcome */

.welcome-buttons-text {
    width: 8vw;
}
}