/* Raleway font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');


/* Default stylings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* CSS Variables */
:root {
    --main-blue: #189dd9;
    --darker-blue: #082e40;
    --placeholder-col: #969494;
}

/* Change cursor of all buttons on hover */
button:hover {
    cursor: pointer;
}

/* LOGIN PAGE STYLING */

/* Wrapper around the login page, used for the image and to layout form */
.login-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;



}

/* Makes sure that the login form takes up slightly more of the page than the image */
.login-img-container {
    width: 45vw;

}

/* Moves the image up slightly and darkens it */
.login-img-container img {
    transform: translateY(-20%);
    filter: brightness(50%);
    opacity: 1;
}



/* Contains the form and the logo of the site */
.login-form-container,
.signup-form-container {
    background: #fdfdfd;
    width: 55vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100%);
    animation: loginAnimation forwards 1.5s;

}

.signup-form-container {
    transform: translateX(-100%);
}

/* Select all of the child elements of .login-form-container */
.login-form-container>*,
.signup-form-container>* {
    opacity: 0;
    animation: fadeIn forwards 1.5s 1.2s;
}

/* Logo img */
.login-form-container img {
    width: 40%;
}

/* Login form */
.login-form-container form,
.signup-form-container form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*  Forgotton password and sign up links */
.form-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 3vw;
}

.form-links a,
.form-links p {
    text-decoration: none;
    color: #969494;
    font-size: 1.3em;
}

.login-form-container form input,
.signup-form-container form input,
.signup-form-container select {
    width: 25vw;
    padding: .4em 1.5em;
    font-size: 1.8em;
    text-align: left;
    border-radius: 1em;
    border: var(--main-blue) 4px solid;
    outline: none;
    margin: 2vh 0;

}

/* Giving the placeholder a specific colour
 * Includes support for all the browsers
 */
.login-form-container form input::placeholder,
.signup-form-container form input::placeholder {

    color: var(--placeholder-col);
}

/* Hide the placeholder on focus */
.login-form-container form input:focus::placeholder {
    color: transparent;
}

/* Sign in button */
.login-form-container button,
.signup-form-container button {

    width: fit-content;
    padding: .5em 2em;
    margin: 3vh auto;
    font-size: 2em;
    border-radius: 25em;
    background: var(--main-blue);
    color: #ffffff;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: all ease-in-out .2s;
}



/* Moves the form over when the page loads */
@keyframes loginAnimation {
    100% {
        transform: translateX(0);
    }
}

/* Fade in animation */
@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

/* Sign up specific stylings */

/* Custom select styling */
.signup-form-container select {
    position: relative;
    /* Allows for more customized styling of the select box
     * Need both for browser compatability */
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #000000;
    text-align: center;

    /* Background used to add an arrow to the select box */
    background: url(../assets/select-box-arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 3.5em;
}

/* Select it required, so we can use the invalid selector to select the disabled option*/
.signup-form-container select:invalid {
    color: var(--placeholder-col);
}

.signup-form-container img {
    width: 35%;
    margin-bottom: 3vh;
}

.signup-title {
    width: 100%;
    padding-left: 5vw;
    margin-top: 5vh;
}

.signup-title h1 {
    position: absolute;
    font-size: 3em;
    color: var(--main-blue);
    font-weight: 600;
}

.form-links .sign-in-link {
    color: var(--main-blue);
    font-weight: 600;
}