/* 404 page CSS*/
.wrapper-404 {
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-404 {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-404 img {
    height: 25vh;
    width: 25vw;
}

.header-404 {
    padding-top: 2vh;
    font-family: 'Raleway';
    font-weight: bold;
    color: #707070;
    font-size: 6vh;
    text-align: center;
}

.text-404 {
    padding-top: 1vh;
    font-family: 'Raleway';
    color: var(--main-blue);
    font-size: 3vh;
    text-align: center;
}

.button-404 {
    height: 7.5vh;
    width: 12vw;
    background-color: var(--main-blue);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    color: white;
    font-size: 3vh;
    font-weight: 550;
    box-shadow: 0 10px 6px -6px #777;
    transition: ease-in-out 0.3s;
    text-decoration: none;
}

.button-container-404 {
    margin-top: 5vh;
    height: 7.5vh;
    width: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Construction Page CSS*/

.construction-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.construction-container {
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.construction-image img {
    height: 25vh;
    width: 25vw;
}

.construction-header {
    padding-top: 2vh;
    font-family: 'Raleway';
    font-weight: bold;
    color: #707070;
    font-size: 6vh;
    text-align: center;
}

.construction-text {
    padding-top: 1vh;
    font-family: 'Raleway';
    color: var(--main-blue);
    font-size: 3vh;
    text-align: center;
}

.construction-button {
    height: 7.5vh;
    width: 12vw;
    background-color: var(--main-blue);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    color: white;
    font-size: 3vh;
    font-weight: 550;
    box-shadow: 0 10px 6px -6px #777;
    transition: ease-in-out 0.3s;
    text-decoration: none;
}

.construction-button:hover {
    background-color: #707070;
    transition: ease-in-out 0.3s;
}

.construction-button:active {
    height: 7.2vh;
    width: 11.5vw;
    transition: ease-in-out 0.1s;
}

.construction-button-container {
    margin-top: 5vh;
    height: 7.5vh;
    width: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* welcome CSS*/

.welcome-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F5;
}

.welcome-header {
    height: 15vh;
    width: 100vw;
    border-bottom: #707070;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.welcome-logo {
    height: 11vh;
    width: 50vw;
}

.welcome-logo img {
    height: 11vh;
    width: 25vw;
}

.welcome-header-buttons-box {
    height: 13vh;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.welcome-buttons {
    height: 5vh;
    width: 12vw;
    border-radius: 25px;
    text-decoration: none;
    border: 2px solid var(--main-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: ease-in-out .3s;
}

.welcome-buttons:hover .welcome-buttons-text {
    color: white;
    transition: ease-in-out .3s;
}

.welcome-buttons:hover {
    background-color: #707070;
    border: 2px solid #707070;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: ease-in-out .3s;
}

.welcome-buttons:hover i {
    color: white;
    transition: ease-in-out .3s;
}

.welcome-buttons-text {
    width: 6vw;
    height: 5vh;
    font-family: 'Raleway';
    font-size: 3vh;
    font-weight: 550;
    color: var(--main-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease-in-out .3s;
}

.welcome-buttons i {
    color: var(--main-blue);
    width: 100%;
    height: 100%;
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out .3s;
}

.welcome-buttons a {
    text-decoration: none;
}

.welcome-body {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 100vw;
}

.circle-box {
    width: 33vw;
    height: 66vh;
    margin-left: -25vw;
    position: absolute;
}

.circle-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.welcome-title {
    height: 10vh;
    width: 100vw;
    text-align: center;
    font-size: 8vh;
    font-family: 'Raleway';
    font-weight: bold;
    color: #707070;
}

.welcome-text-box {
    height: 50vh;
    width: 100vw;
    background-color: var(--main-blue);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.welcome-text {
    font-size: 3vh;
    font-family: 'Raleway';
    color: white;
    height: 45vh;
    width: 50vw;
    margin-left: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.welcome-course-container {
    height: 60vh;
    width: 80vw;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-top: 20vh;
}


.welcome-split {
    height: 14vh;
    border-bottom: thin solid #707070;
}

.welcome-slider-container {
    height: 35vh;
    width: 55vw;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
    flex-direction: column;

}

.welcome-course-header {
    height: 8vh;
    width: 80vw;
    font-size: 5vh;
    font-family: 'Raleway';
    font-weight: 550;
    color: #707070;
    margin-left: 4vw;
}

.welcome-course-content {
    height: 42vh;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-color: white;
}

.welcome-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}

.welcome-page .general-container {
    margin-top: 5vh;
    width: 80vw;
    min-height: 50vh;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr .8fr;
    justify-items: center;
    align-items: center;
    padding: 0 5em;

}

.welcome-page .general-container h2 {
    justify-self: start;
    grid-row: 1;
    grid-column: 1/4;
}

.welcome-slide {
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.welcome-slides {
    display: none;
}

.welcome-slider-name {
    width: 45vw;
    height: 5vh;
    font-size: 4vh;
    font-family: 'Raleway';
    color: var(--main-blue);
    font-weight: bold;
    margin-top: 3vh;
}

.welcome-slider-text {
    width: 40vw;
    height: 14vh;
    margin-top: 5vh;
    font-size: 2.5vh;
    font-family: 'Raleway';
    color: #707070;
    font-style: italic;
}

.welcome-slider-button {
    height: 4vh;
    width: 8vw;
    background-color: var(--main-blue);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 40vw;
    color: white;
    font-size: 2vh;
    font-family: 'Raleway';

    text-align: center;
}


.welcome-slider-button-text {
    color: white;
    font-size: 2vh;
    font-family: 'Raleway';
    align-items: center;
}

.welcome-slide {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation-name: slidein-right;
    animation-duration: 5s;
    -webkit-animation-name: slidein-right;
    -webkit-animation-duration: 5s;
    display: none;
}


.welcome-fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
}

.welcome-dot-container {
    text-align: center;
    margin-top: 2vh;
}

.welcome-dot {
    height: 12px;
    width: 12px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 2px;
    background-color: #9ED3CE;
    margin-top: 10px;
    transition: ease-in-out .2s;
}

.welcome-dot-selected {
    height: 14px;
    width: 14px;
    background-color: #1B9DD9;
    transition: ease-in-out .2s;
}

.welcome-hidden-href {
    display: none;
}

@keyframes slidein-right {
    0% {
        margin-right: 50%;
        opacity: 0;
    }

    20% {
        margin-right: 0%;
        opacity: 1;
    }

    80% {
        margin-right: 0%;
        opacity: 1;
    }

    100% {
        margin-right: -50%;
        opacity: 0;
    }
}

@-webkit-keyframes slidein-right {
    0% {
        margin-right: 50%;
        opacity: 0;
    }

    20% {
        margin-right: 0%;
        opacity: 1;
    }

    80% {
        margin-right: 0%;
        opacity: 1;
    }

    100% {
        margin-right: -50%;
        opacity: 0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

/* course box */

.course-header {
    height: 8vh;
    width: 80vw;
    font-size: 5vh;
    font-family: 'Raleway';
    font-weight: 550;
    color: #707070;
    margin-left: 4vw;
    margin-top: 4vh;
}

.course-content {
    height: 42vh;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    row-gap: 8vh;

    padding: 3em;
    margin-right: 3vw;
    margin-top: 2vh;
    text-decoration: none;
    transition: ease-in-out 0.3s;
    text-align: center;
}



.course-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.course-box-wrapper {
    height: 35vh;
    width: 14vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.course-box {
    height: 34vh;
    width: 13vw;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out .3s;
}

.welcome-slides {
    display: none;
}

.welcome-slider-name {
    width: 45vw;
    height: 5vh;
    font-size: 4vh;
    font-family: 'Raleway';
    color: var(--main-blue);
    font-weight: bold;

}

.course-box-wrapper:hover .course-box {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: ease-in-out .3s;
    height: 35vh;
    width: 14vw;
}



.course-text {
    height: 9vh;
    width: 13vw;
    font-size: 3vh;
}





.course-text a {
    text-decoration: none;
}

.course-color {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25vh;
    width: 13vw;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    transition: all .3s ease-in-out;
}





.course-box-wrapper:hover .course-color {
    width: 14vw;
    height: 26vh;
    transition: ease-in-out .3s;
}

.course-title {
    text-decoration: none;
}


.course-img img {
    height: 20vh;
    width: 12vw
}

.course-view {
    font-size: 3.5vh;
    font-family: 'Raleway';
    text-align: right;
    color: #707070;
    font-weight: 550;
    margin-right: 3vw;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }

}

.course-view:hover {
    color: #008ED2;
    transition: ease-in-out 0.3s;
}


/* footer CSS */



/* home styles*/

.all-courses-page .general-container {
    margin-top: 15vh;
}

.home-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}

.home-page .general-container {
    margin-top: 5vh;
    width: 80vw;
    min-height: 50vh;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr .8fr;
    justify-items: center;
    align-items: center;
    padding: 0 5em;

}

.home-page .general-container h2 {
    justify-self: start;
    grid-row: 1;
    grid-column: 1/4;
}


.home-info-container {
    height: 45vh;
    width: 100vw;
    background-color: var(--main-blue);
    z-index: -1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.home-info-text-container {
    height: 30vh;
    width: 50vw;
}

.home-info-text-title {
    height: 10vh;
    width: 35vw;
    color: white;
    font-family: 'Raleway';
    font-size: 6vh;
    font-weight: bold;
}

.home-info-text-content {
    height: 15vh;
    width: 42vw;
    margin-left: 2vw;
    color: white;
    font-family: 'Raleway';
    font-size: 2vh;
}

.home-info-profile-container {
    height: 40vh;
    width: 30vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-icon {
    height: 26vh;
    width: 14vw;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--main-blue);
    font-family: 'Raleway';
    font-size: 14vh;
    font-weight: bold;
}



/* Blue version of the profile icon */
.blue-icon {
    background: var(--main-blue);
    color: #ffffff;
}



.home-info-profile-content {
    height: 15vh;
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.home-info-profile-content-box {
    height: 15vh;
    width: 14vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.home-info-profile-content-title {
    height: 5vh;
    width: 12vw;
    color: white;
    font-family: 'Raleway';
    font-size: 4vh;
    font-weight: 550;
    text-align: center;
}

.home-info-profile-content-amount {
    height: 5vh;
    width: 12vw;
    color: white;
    font-family: 'Raleway';
    font-size: 4vh;
    font-weight: bold;
    text-align: center;
}

.home-course-container {
    height: 60vh;
    width: 80vw;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    margin-top: 20vh;
}

.home-course-header {
    height: 8vh;
    width: 80vw;
    font-size: 5vh;
    font-family: 'Raleway';
    font-weight: 550;
    color: #707070;
    margin-left: 4vw;
    margin-top: 4vh;
}

.home-course-content {
    height: 42vh;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

.home-course-box-container {
    height: 35vh;
    width: 14vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home-course-box {
    height: 34vh;
    width: 13vw;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-size: 3vh;
    font-family: 'Raleway';
    text-align: center;
    color: #707070;
    text-decoration: none;
    transition: ease-in-out .3s;
}

.home-course-box-container:hover .home-course-box {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: ease-in-out .3s;
    height: 35vh;
    width: 14vw;
}

.home-course-box a {
    text-decoration: none;
}

.home-course-color-1 {
    height: 25vh;
    width: 13vw;
    border-radius: 20px 20px 0px 0px;
    background-color: #009180;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out .3s;
}

.home-course-box-container:hover .home-course-color-1 {
    width: 14vw;
    transition: ease-in-out .3s;
}

.home-course-color-2 {
    height: 25vh;
    width: 13vw;
    border-radius: 20px 20px 0px 0px;
    background-color: #00B9C8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out .3s;
}

.home-course-box-container:hover .home-course-color-2 {
    width: 14vw;
    transition: ease-in-out .3s;
}

.home-course-color-3 {
    height: 25vh;
    width: 13vw;
    border-radius: 20px 20px 0px 0px;
    background-color: #B5C7DC;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out .3s;
}

.home-course-box-container:hover .home-course-color-3 {
    width: 14vw;
    transition: ease-in-out .3s;
}

.home-course-color-4 {
    height: 25vh;
    width: 13vw;
    border-radius: 20px 20px 0px 0px;
    background-color: #389BA3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out .3s;
}

.home-course-box-container:hover .home-course-color-4 {
    width: 14vw;
    transition: ease-in-out .3s;
}

.home-course-title {
    text-decoration: none;
}

.home-course img {
    height: 20vh;
    width: 12vw
}

.home-course-view {
    font-size: 3.5vh;
    font-family: 'Raleway';
    text-align: right;
    color: #707070;
    font-weight: 550;
    margin-right: 3vw;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.home-course-view:hover {
    color: var(--main-blue);
    transition: ease-in-out 0.3s;
}



/* Account Page Styling */

.account-wrapper {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;


}

.account-overview {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: solid 2px var(--main-blue);
}

.account-overview h2 {
    color: rgb(17, 17, 17);
    font-weight: 600;
    margin-bottom: 6vh;
}

.account-wrapper .general-container {

    height: 80%;
    width: 80%;
    border-radius: 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

.account-wrapper .general-container .profile-icon {
    background: var(--main-blue);
    color: #ffffff;
}

.account-wrapper .general-container li {
    list-style-type: none;
    font-size: 1.5em;
    color: #707070;
    margin: 2vh 0;
    font-weight: 100;

}

.account-details {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.account-details .general-container {
    align-items: flex-start;
    padding-left: 3vw;
}

.account-details .general-container h2 {
    color: var(--main-blue);
    grid-column: 1/3;
    grid-row-start: 1;
}

.account-details .general-container h3 {
    color: var(--main-blue);
    font-weight: 500;


}

.account-details .general-container p {
    padding: 1em;
    width: 20vw;
    border-radius: 1em;
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.2);
    margin-top: 2vh;
}



/* My Learning Styling */
.my-learning {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 0 10vw;
    margin-bottom: 15vh;
}

.my-learning a {
    color: #000000;
}

.assigned-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;

}

.assigned-bar li {
    display: inline-block;
    list-style-type: none;
    background: #ffffff;
    padding: 1em;
    width: 15vw;
    border: solid 1px #a7a6a6;
    cursor: pointer;
    text-align: center;

}

.selected {
    background-color: var(--main-blue) !important;
    border: solid 1px var(--main-blue) !important;
    color: #ffffff;
}

/* Small margin between all the elements inside the <a> */
.link-container a>* {
    margin: .2vh 0;
    transition: all .2s ease-in-out;

}

.link-container a:hover>* {
    color: #707070;
    margin: .6vh 0;
}

.assigned-bar li:nth-child(1) {
    border-radius: 1em 0 0 1em;
}

.assigned-bar li:nth-child(4) {
    border-radius: 0 1em 1em 0;
}


.my-learning .general-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    align-items: center;
    padding: 4em;
    row-gap: 10vh;
    margin-top: 10vh;

}




/* Course Overview Styling */
.course-overview {
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.course-overview h1 {
    width: 65%;
    height: 12%;
}

.course-overview .general-container {
    width: 80%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr .5fr;
    justify-items: center;
    align-items: center;
    padding: 0 3vw;

}

.course-overview .general-container p {
    width: 100%;
    font-size: 1.8em;
    grid-column-start: 1;
}



.course-overview .general-container img {

    width: 80%;
    grid-column-start: 2;

}

.course-overview .general-container a {

    grid-column-start: 2;

    grid-row-start: 2;

}

.course-overview .general-container ul {
    grid-column-start: 3;



}

.course-overview .general-container li {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    font-size: 1.6em;
    margin: 8vh 0;

}

.course-overview .general-container li p {
    width: 100%;
    margin-left: 2vw;

}

.course-overview .general-container li i {
    font-size: 2.2em;
    color: var(--main-blue);
}


/* Login Page Styling */

/* Wrapper around the login page, used for the image and to layout form */
.user-form-wrapper {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.login-img-container {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/*  Darkens the image */
.login-img-container img {
    filter: brightness(50%);
    transform: translateY(-13%);
    width: 100%;
}

.signup-img {
    float: right;
}

/* Contains the form and the logo of the site */
.user-form-container {

    background: #fdfdfd;
    width: 55vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(100%);
    animation: loginAnimation forwards 1.5s;
    float: right;

}

/* Signup overrides styles from .user-form-container for the sign-up page */
.signup {
    transform: translateX(-200%);

}

/* Select all of the child elements of .login-form-container */
.user-form-container>* {
    opacity: 0;
    animation: fadeIn forwards 1.5s 1.2s;
}

/* Logo img */
.user-form-container img {
    width: 40%;
}

/* Login form */

.user-form-container form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/*  Forgotton password and sign up links */
.form-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 3vw;
}

.form-links a,
.form-links p {

    margin: 0 2vw;
    text-decoration: none;
    color: #969494;
    font-size: 1.3em;
}


.user-form-container form input,
.user-form-container select {
    width: 20vw;
    padding: .4em 1.5em;
    font-size: 1.4em;
    text-align: left;
    border-radius: 4em;
    border: var(--main-blue) 3px solid;
    outline: none;
    margin: 2vh 0;
    height: 7vh;

}

/* Giving the placeholder a specific colour
 * Includes support for all the browsers
 */
.user-form-container form input::placeholder {
    color: var(--placeholder-col);
}

/* Hide the placeholder on focus */
.user-form-container form input:focus::placeholder {
    color: transparent;
}

/* Sign in button */

.user-form-container button {

    width: fit-content;
    padding: .5em 2em;
    margin: 5vh auto;
    font-size: 2em;
    border-radius: 25em;
    background: var(--main-blue);
    color: #ffffff;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    transition: all ease-in-out .2s;
}



/* Moves the form over when the page loads */
@keyframes loginAnimation {
    100% {
        transform: translateX(0);
    }
}


/* Fade in animation */
@keyframes fadeIn {
    100% {
        opacity: 1;
    }

}

/* Sign up specific stylings */

/* Custom select styling */
.user-form-container select {
    position: relative;
    /* Allows for more customized styling of the select box
     * Need both for browser compatability */
    -webkit-appearance: none;
    -moz-appearance: none;
    /* Background used to add an arrow to the select box */
    background: url(../assets/select-box-arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 3.5em;
}

/* Select it required, so we can use the invalid selector to select the disabled option*/
.user-form-container select:invalid {
    color: var(--placeholder-col);
}

.user-form-container select:valid {
    color: #000000;

}

/* Image inside the form on login page */
.signup img {
    width: 30%;
    margin-bottom: 3vh;
}

.signup-title {
    width: 100%;
    padding-left: 5vw;
    padding-top: 2vh;
    position: absolute;
    top: 0;
}

.signup-title h1 {

    font-size: 2em;
    color: var(--main-blue);
    font-weight: 600;
}

.form-links .sign-in-link {
    color: var(--main-blue);
    font-weight: 600;
}

/* Make sure the sign up form is on the left */
.signup {
    float: left;
}

/* All Courses Page */

.all-courses-page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
}

.all-courses-page .general-container {
    margin-top: 10vh;
    width: 80vw;
    min-height: 50vh;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    align-items: center;
    padding: 5em;
    row-gap: 10vh;

}

.all-courses-page .general-container h2 {
    justify-self: start;
    grid-row: 1;
    grid-column: 1/4;
}


/* results */

.results-container {
    height: 85vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results-title {
    height: 10vh;
    width: 80vw;
    border-bottom: 2px solid var(--main-blue);
}

.results-title h1 {
    padding-left: 5vw;
}

.results-container img {
    width: 20vw;
    margin-top: 5vh;
}

.results-container h3 {
    font-family: 'raleway';
    font-weight: 100;
    font-size: 3.5vh;
    color: var(--heading-col);
    margin-top: 4vh;
}

.results-container h2 {
    font-weight: 600;
    margin-top: 3vh;
}

.results-buttons-container {
    width: 80vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.results-buttons-container button {
    margin: 10vh;
    font-size: 1.5rem;
    font-weight: 600;
}