
 body {
    padding: 0;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #f5f5f5;
}



a {
    text-decoration: none;
}

/* 404 page CSS*/
.wrapper-404 {
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-404 {
    height: 100vh;
    width: 60vw;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-404 img {
    height: 25vh;
    width: 25vw;
}

.header-404 {
    padding-top:2vh;
    font-family: 'Raleway';
    font-weight: bold;
    color: #707070;
    font-size: 6vh;
    text-align: center;
}

.text-404 {
       padding-top:1vh;
    font-family: 'Raleway';
    color: #008ED2;
    font-size: 3vh;
       text-align: center;
}

.button-404 {
    height:7.5vh;
    width:12vw;
    background-color: #008ED2;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    color: white;
    font-size: 3vh;
    font-weight: 550;
    box-shadow: 0 10px 6px -6px #777;
     transition: ease-in-out 0.3s;
     text-decoration: none;
}

.button-404:hover{
    background-color: #707070;
     transition: ease-in-out 0.3s;
}

.button-404:active{
    height: 7.2vh;
    width: 11.5vw;
    transition: ease-in-out 0.1s;
}

.button-container-404 {
    margin-top: 5vh;
    height:7.5vh;
    width:12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Construction Page CSS*/

.construction-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.construction-container {
    height: 100vh;
    width: 60vw;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.construction-image img {
    height: 25vh;
    width: 25vw;
}

.construction-header {
    padding-top:2vh;
    font-family: 'Raleway';
    font-weight: bold;
    color: #707070;
    font-size: 6vh;
    text-align: center;
}

.construction-text {
       padding-top:1vh;
    font-family: 'Raleway';
    color: #008ED2;
    font-size: 3vh;
       text-align: center;
}

.construction-button {
    height:7.5vh;
    width:12vw;
    background-color: #008ED2;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    color: white;
    font-size: 3vh;
    font-weight: 550;
    box-shadow: 0 10px 6px -6px #777;
     transition: ease-in-out 0.3s;
     text-decoration: none;
}

.construction-button:hover{
    background-color: #707070;
     transition: ease-in-out 0.3s;
}

.construction-button:active{
    height: 7.2vh;
    width: 11.5vw;
    transition: ease-in-out 0.1s;
}

.construction-button-container {
    margin-top: 5vh;
    height:7.5vh;
    width:12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* welcome CSS*/

.welcome-wrapper {
    height: 100vh;
    width: 100vw;
    background-color: #F5F5F5;
}

.welcome-header {
    height: 15vh;
    width: 100vw;
    border-bottom: #707070;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.welcome-logo {
    height: 11vh;
    width: 50vw;
}

.welcome-logo img {
    height: 11vh;
    width: 25vw;
}

.welcome-header-buttons-box {
    height: 13vh;
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.welcome-buttons {
    height: 5vh;
    width: 12vw;
    border-radius: 25px;
    text-decoration: none;
  
    border: 2px solid #008ED2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.welcome-buttons-text {
    width: 6vw;
    height:5vh;
    font-family: 'Raleway';
     font-size:3vh;
    font-weight: 550;
    color: #008ED2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome-buttons i{
color: #008ED2;
    width: 100%;
    height: 100%;
    font-size:2.5vh;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}

.welcome-buttons a {
     text-decoration: none;
}

.welcome-body {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    height: 85vh;
    width: 100vw;
}

.circle-box {
    width: 33vw;
    height: 66vh;
    margin-left: -25vw;
    position: absolute;
}

.circle-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.welcome-title {
    height:10vh;
    width: 100vw;
    text-align: center;
    font-size: 8vh;
    font-family: 'Raleway';
    font-weight: bold;
    color: #707070;
}

.welcome-text-box {
    height: 50vh;
    width: 100vw;
    background-color: #008ED2;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}

.welcome-text {
    font-size: 3vh;
    font-family: 'Raleway';
    color: white;
    height: 45vh;
    width: 50vw;
    margin-left: 40vw;
    margin-top: 5vh
}

.welcome-course-container {
    height: 60vh;
    width: 90vw;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.welcome-course-header {
    height: 8vh;
    width:80vw;
    font-size: 5vh;
    font-family: 'Raleway';
    font-weight: 550;
    color: #707070;
    margin-left: 4vw;
}

.welcome-course-content {
    height:42vh;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row; 
    align-items: center;
    padding: 0;
    margin: 0;
}

.welcome-course-box {
    height: 38vh;
    width: 15vw;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    font-size: 3.5vh;
    font-family: 'Raleway';
    text-align: center;
    color: #707070;
  text-decoration: none;
}

.welcome-course-box a {
    text-decoration: none;
}

.welcome-course-color-1 {
    height: 29vh;
    width: 15vw;
    border-radius: 20px 20px 0px 0px;
    background-color: #009180;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}

.welcome-course-color-2 {
    height: 29vh;
    width: 15vw;
    border-radius: 20px 20px 0px 0px;
    background-color: #00B9C8;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}

.welcome-course-color-3 {
    height: 29vh;
    width: 15vw;
    border-radius: 20px 20px 0px 0px;
    background-color: #B5C7DC;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}

.welcome-course-color-4 {
    height: 29vh;
    width: 15vw;
    border-radius: 20px 20px 0px 0px;
    background-color: #389BA3;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}

.welcome-course-title {
    text-decoration: none ;
}

.welcome-course img {
    height: 20vh;
    width: 12vw
}

.welcome-course-view {
    font-size: 3.5vh;
    font-family: 'Raleway';
    text-align: right;
    color: #707070;
    font-weight: 550;
    margin-right: 3vw;
    margin-top:2vh;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: flex-end;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

.welcome-course-view:hover{
    color: #008ED2;
     transition: ease-in-out 0.3s;
}

.welcome-split {
    height: 6vh;
    border-bottom: thin solid #707070;
}

.welcome-slider-container {
    height: 35vh;
    width: 55vw;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}

.welcome-slides {
    display: none;
}

.welcome-slider-name {
    width: 45vw;
    height: 5vh;
    font-size: 4vh;
    font-family: 'Raleway';
    color: #008ED2;
    font-weight: bold;
}

.welcome-slider-text {
    width: 40vw;
    height: 17vh;
    margin-top: 5vh;
    font-size: 2.5vh;
    font-family: 'Raleway';
    color: #707070;
    font-style: italic;
}

.welcome-slider-button {
    height: 4vh;
    width: 8vw;
    background-color: #008ED2;
    color: white;
    font-size: 2vh;
    font-family: 'Raleway';
    border-radius: 20px;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    margin-left: 40vw;
}

.welcome-fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

.welcome-dot {
    height: 8px;
    width: 8px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 2px;
    background-color: #9ED3CE;
    margin-top: 10px;
}

.welcome-dot-selected {
    height: 10px;
    width: 10px;
    background-color: #1B9DD9;
}

@-webkit-keyframes fade {
    from {opacity: 0;} to {opacity: 1}
}

@keyframes fade {
    from {opacity: 0;} to {opacity: 1}
}



/* footer CSS */

.footer {
    height: 30vh;
    width: 100vw;
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}

.footer-row-container {
    width: 80vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: row; 
    align-items: center;
}

.footer-row-links {
    margin-right: 3vw;
      font-size: 2vh;
    font-family: 'Raleway';
    color: #707070;
}

.footer-social-media {
     display: flex;
    justify-content: space-evenly;
    flex-direction: row; 
    align-items: center;
    width: 15vw;
    height: 6vh;
}

.footer-social-media-icons {
    font-size: 4.5vh;
    color: #707070;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}


.footer-image {
    width: 20vw;
}


/* Home */

.home-wrapper {
    height: 100vh;
    width: 100vw;
 
}

/* header */

.header-container {
    height: 15vh;
    width: 100vw;
    border-bottom: #707070;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.header-logo {
    height: 11vh;
    width: 30vw;
}

.header-logo img {
    height: 11vh;
    width: 25vw;
}

.header-nav {
    width :60vw;
    height: 11vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.header-nav-containers {
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6vh;
}

.header-nav-name {
 font-size: 3.5vh;
    font-family: 'Raleway';
    color: #008ED2;
}

.header-nav-icon a {
    font-size: 3vh;
    color: #008ED2;
}






